.breadcrumb {
  background: none;
  border-radius: none;
  margin: -12px 0 4px 0;
  font-weight: 300;
}

.page-header h1 {
  font-weight: 200;
  small {
    font-weight: 200;
  }
}

#page {
  min-width: 670px;
}
